@import "tailwindcss";
@plugin 'tailwind-scrollbar';

@custom-variant dark (&:where(.dark, .dark *));

@theme {
  --color-background: #0D1B1E;
  --color-surface: #122428;
  --color-panel: #1A3038;
  --color-card: #243C46;
  --color-card-hover: #2E4A55;
  --color-primary: #3DB882;
  --color-primary-dark: #2A8F63;
  --color-primary-deeper: #1C5C42;
  --color-text-primary: #E8ECED;
  --color-text-secondary: #7A9BA6;

  --color-border: rgba(255,255,255,0.06)
}

@layer utilities {
  .scrollbar-medium::-webkit-scrollbar {
    width: 8px;
  }
}